In [1]:
# H1B Hub data from USCIS

# Download CSV files from USCIS Hub
# Save to git repo

import pandas as pd

In [2]:
#download .csv files
#concat into single dataframe (df)

year_first = 2009
year_last = 2022

data_year_list = []
for year_temp in range(year_first, year_last +1):
    url_temp = f"https://www.uscis.gov/sites/default/files/document/data/h1b_datahubexport-{year_temp}.csv"
    data_year = pd.read_csv(url_temp)
    data_year = data_year.rename(columns={'Initial Approvals':'Initial Approval',
                                         'Initial Denials':'Initial Denial',
                                         'Continuing Approvals':'Continuing Approval',
                                         'Continuing Denials':'Continuing Denial'})
    data_year_list.append(data_year)
    
df = pd.concat(data_year_list, ignore_index=True)
df

C:\Users\jbrob\AppData\Local\Temp\ipykernel_22904\3183627088.py:10: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data_year = pd.read_csv(url_temp)

,Fiscal Year,Employer,Initial Approval,Initial Denial,Continuing Approval,Continuing Denial,NAICS,Tax ID,State,City,ZIP
0,2009,SAGINAW VLY ST UNIV,1,0,0,0,61,NaN,NaN,UNIVERSITY CENTER,NaN
1,2009,REGIONAL MED CTR BOARD,0,0,1,0,62,NaN,AL,ANNISTON,36202.0
2,2009,BIBB MED CTR BIBB COUNTY HEALTH CA,1,0,0,0,62,NaN,AL,CENTREVILLE,35042.0
3,2009,EMERGENCY MEDICAL SERVICES GROUP,0,0,1,0,62,NaN,AR,FORT SMITH,72917.0
4,2009,THE NEW FOUNDATION,0,1,0,0,61,NaN,AZ,SCOTTSDALE,85271.0
...,...,...,...,...,...,...,...,...,...,...,...
772325,2022,ZYREONECONSULTING LLC,0,0,1,0,54,172.0,AZ,PHOENIX,85004.0
772326,2022,ZYTUS INC,0,0,1,0,54,96.0,VA,HENRICO,23238.0
772327,2022,ZYWAVE INC,0,0,1,0,54,743.0,WI,MILWAUKEE,53226.0
772328,2022,ZYWIE INC,0,0,2,0,54,9321.0,GA,DULUTH,30097.0
772329,2022,ZZ VENTURES INC,0,0,1,0,52,8809.0,CA,SAN FRANCISCO,94111.0

In [3]:
#Clean df

#remove commas from numeric values
cols = ['Initial Approval', 'Initial Denial', 'Continuing Approval', 'Continuing Denial']
df[cols]=df[cols].replace(',','', regex=True)  

#convert data types
df=df.astype({'Fiscal Year':'int32',
              'Initial Approval':'int32',
              'Initial Denial':'int32',
              'Continuing Approval':'int32',
              'Continuing Denial':'int32',
              'NAICS':'str',
              'Employer':'str',
              'Tax ID':'str',
              'ZIP':'str'})  
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772330 entries, 0 to 772329
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Fiscal Year          772330 non-null  int32
 1   Employer             772330 non-null  object
 2   Initial Approval     772330 non-null  int32
 3   Initial Denial       772330 non-null  int32
 4   Continuing Approval  772330 non-null  int32
 5   Continuing Denial    772330 non-null  int32
 6   NAICS                772330 non-null  object
 7   Tax ID               772330 non-null  object
 8   State                772158 non-null  object
 9   City                 772305 non-null  object
 10  ZIP                  772330 non-null  object
dtypes: int32(5), object(6)
memory usage: 50.1+ MB

In [4]:
df.head()

,Fiscal Year,Employer,Initial Approval,Initial Denial,Continuing Approval,Continuing Denial,NAICS,Tax ID,State,City,ZIP
0,2009,SAGINAW VLY ST UNIV,1,0,0,0,61,nan,NaN,UNIVERSITY CENTER,nan
1,2009,REGIONAL MED CTR BOARD,0,0,1,0,62,nan,AL,ANNISTON,36202.0
2,2009,BIBB MED CTR BIBB COUNTY HEALTH CA,1,0,0,0,62,nan,AL,CENTREVILLE,35042.0
3,2009,EMERGENCY MEDICAL SERVICES GROUP,0,0,1,0,62,nan,AR,FORT SMITH,72917.0
4,2009,THE NEW FOUNDATION,0,1,0,0,61,nan,AZ,SCOTTSDALE,85271.0

In [5]:
df.describe()

,Fiscal Year,Initial Approval,Initial Denial,Continuing Approval,Continuing Denial
count,772330.000000,772330.000000,772330.000000,772330.000000,772330.000000
mean,2015.199561,1.994788,0.239124,3.749336,0.212971
std,4.031026,35.387713,6.320529,74.860628,9.112509
min,2009.000000,0.000000,0.000000,0.000000,0.000000
25%,2012.000000,0.000000,0.000000,0.000000,0.000000
50%,2015.000000,0.000000,0.000000,1.000000,0.000000
75%,2019.000000,1.000000,0.000000,1.000000,0.000000
max,2022.000000,9191.000000,3070.000000,26145.000000,3910.000000

In [6]:
df

,Fiscal Year,Employer,Initial Approval,Initial Denial,Continuing Approval,Continuing Denial,NAICS,Tax ID,State,City,ZIP
0,2009,SAGINAW VLY ST UNIV,1,0,0,0,61,nan,NaN,UNIVERSITY CENTER,nan
1,2009,REGIONAL MED CTR BOARD,0,0,1,0,62,nan,AL,ANNISTON,36202.0
2,2009,BIBB MED CTR BIBB COUNTY HEALTH CA,1,0,0,0,62,nan,AL,CENTREVILLE,35042.0
3,2009,EMERGENCY MEDICAL SERVICES GROUP,0,0,1,0,62,nan,AR,FORT SMITH,72917.0
4,2009,THE NEW FOUNDATION,0,1,0,0,61,nan,AZ,SCOTTSDALE,85271.0
...,...,...,...,...,...,...,...,...,...,...,...
772325,2022,ZYREONECONSULTING LLC,0,0,1,0,54,172.0,AZ,PHOENIX,85004.0
772326,2022,ZYTUS INC,0,0,1,0,54,96.0,VA,HENRICO,23238.0
772327,2022,ZYWAVE INC,0,0,1,0,54,743.0,WI,MILWAUKEE,53226.0
772328,2022,ZYWIE INC,0,0,2,0,54,9321.0,GA,DULUTH,30097.0
772329,2022,ZZ VENTURES INC,0,0,1,0,52,8809.0,CA,SAN FRANCISCO,94111.0

In [7]:
#Export df to .csv

#df.to_csv("h1b_hub.csv", index=False, compression = 'infer')