In [1]:
# H1B Hub data from USCIS

# Download CSV files from USCIS Hub
# Save to git repo

import pandas as pd

In [2]:
#download .csv files
#concat into single dataframe (df)

year_first = 2009
year_last = 2022

data_year_list = []
for year_temp in range(year_first, year_last +1):
    url_temp = f"https://www.uscis.gov/sites/default/files/document/data/h1b_datahubexport-{year_temp}.csv"
    data_year = pd.read_csv(url_temp)
    data_year = data_year.rename(columns={'Initial Approvals':'Initial Approval',
                                         'Initial Denials':'Initial Denial',
                                         'Continuing Approvals':'Continuing Approval',
                                          'Continuing Denials':'Continuing Denial'})
    data_year_list.append(data_year)
    
df = pd.concat(data_year_list, ignore_index=True)
df

C:\Users\jbrob\AppData\Local\Temp\ipykernel_12592\322377171.py:10: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data_year = pd.read_csv(url_temp)

,Fiscal Year,Employer,Initial Approval,Initial Denial,Continuing Approval,Continuing Denial,NAICS,Tax ID,State,City,ZIP
0,2009,SAGINAW VLY ST UNIV,1,0,0,0,61,NaN,NaN,UNIVERSITY CENTER,NaN
1,2009,REGIONAL MED CTR BOARD,0,0,1,0,62,NaN,AL,ANNISTON,36202.0
2,2009,BIBB MED CTR BIBB COUNTY HEALTH CA,1,0,0,0,62,NaN,AL,CENTREVILLE,35042.0
3,2009,EMERGENCY MEDICAL SERVICES GROUP,0,0,1,0,62,NaN,AR,FORT SMITH,72917.0
4,2009,THE NEW FOUNDATION,0,1,0,0,61,NaN,AZ,SCOTTSDALE,85271.0
...,...,...,...,...,...,...,...,...,...,...,...
772325,2022,ZYREONECONSULTING LLC,0,0,1,0,54,172.0,AZ,PHOENIX,85004.0
772326,2022,ZYTUS INC,0,0,1,0,54,96.0,VA,HENRICO,23238.0
772327,2022,ZYWAVE INC,0,0,1,0,54,743.0,WI,MILWAUKEE,53226.0
772328,2022,ZYWIE INC,0,0,2,0,54,9321.0,GA,DULUTH,30097.0
772329,2022,ZZ VENTURES INC,0,0,1,0,52,8809.0,CA,SAN FRANCISCO,94111.0

In [3]:
#Clean df

cols = ['Initial Approval', 'Initial Denial', 'Continuing Approval', 'Continuing Denial']

df[cols]=df[cols].replace(',','', regex=True)  #remove commas

df=df.astype({'Initial Approval':'int64',
                        'Initial Denial':'int64',
                        'Continuing Approval':'int64',
                        'Continuing Denial':'int64'})  #convert strings to int64
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772330 entries, 0 to 772329
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Fiscal Year          772330 non-null  int64
 1   Employer             772154 non-null  object
 2   Initial Approval     772330 non-null  int64
 3   Initial Denial       772330 non-null  int64
 4   Continuing Approval  772330 non-null  int64
 5   Continuing Denial    772330 non-null  int64
 6   NAICS                772330 non-null  int64
 7   Tax ID               770084 non-null  float64
 8   State                772158 non-null  object
 9   City                 772305 non-null  object
 10  ZIP                  772171 non-null  float64
dtypes: float64(2), int64(6), object(3)
memory usage: 64.8+ MB

In [ ]:
df.head()

In [4]:
df.describe()

,Fiscal Year,Initial Approval,Initial Denial,Continuing Approval,Continuing Denial,NAICS,Tax ID,ZIP
count,772330.000000,772330.000000,772330.000000,772330.000000,772330.000000,772330.000000,770084.000000,772171.000000
mean,2015.199561,1.994788,0.239124,3.749336,0.212971,53.903913,4923.301466,48226.310308
std,4.031026,35.387713,6.320529,74.860628,9.112509,14.968738,2904.043269,33688.947407
min,2009.000000,0.000000,0.000000,0.000000,0.000000,11.000000,0.000000,605.000000
25%,2012.000000,0.000000,0.000000,0.000000,0.000000,51.000000,2378.000000,13026.000000
50%,2015.000000,0.000000,0.000000,1.000000,0.000000,54.000000,4903.000000,44805.000000
75%,2019.000000,1.000000,0.000000,1.000000,0.000000,56.000000,7437.000000,80301.000000
max,2022.000000,9191.000000,3070.000000,26145.000000,3910.000000,99.000000,9999.000000,99929.000000

In [5]:
df

,Fiscal Year,Employer,Initial Approval,Initial Denial,Continuing Approval,Continuing Denial,NAICS,Tax ID,State,City,ZIP
0,2009,SAGINAW VLY ST UNIV,1,0,0,0,61,NaN,NaN,UNIVERSITY CENTER,NaN
1,2009,REGIONAL MED CTR BOARD,0,0,1,0,62,NaN,AL,ANNISTON,36202.0
2,2009,BIBB MED CTR BIBB COUNTY HEALTH CA,1,0,0,0,62,NaN,AL,CENTREVILLE,35042.0
3,2009,EMERGENCY MEDICAL SERVICES GROUP,0,0,1,0,62,NaN,AR,FORT SMITH,72917.0
4,2009,THE NEW FOUNDATION,0,1,0,0,61,NaN,AZ,SCOTTSDALE,85271.0
...,...,...,...,...,...,...,...,...,...,...,...
772325,2022,ZYREONECONSULTING LLC,0,0,1,0,54,172.0,AZ,PHOENIX,85004.0
772326,2022,ZYTUS INC,0,0,1,0,54,96.0,VA,HENRICO,23238.0
772327,2022,ZYWAVE INC,0,0,1,0,54,743.0,WI,MILWAUKEE,53226.0
772328,2022,ZYWIE INC,0,0,2,0,54,9321.0,GA,DULUTH,30097.0
772329,2022,ZZ VENTURES INC,0,0,1,0,52,8809.0,CA,SAN FRANCISCO,94111.0

In [ ]:
#Export df to .csv

df.to_csv("h1b_hub.csv", index=False)