# H1B Hub data from USCIS

In [1]:
# git pull https://github.com/JohnBroberg/H1B_Hub.git

import pandas as pd

## Download .csv files

_DtypeWarning: Columns (3) have mixed types._
Resolved in __Clean df__ step.

In [2]:
year_first = 2009
year_last = 2022

data_year_list = []
for year_temp in range(year_first, year_last +1):
    url_temp = f"https://www.uscis.gov/sites/default/files/document/data/h1b_datahubexport-{year_temp}.csv"
    data_year = pd.read_csv(url_temp)
    data_year = data_year.rename(columns={'Initial Approvals':'Initial Approval',
                                         'Initial Denials':'Initial Denial',
                                         'Continuing Approvals':'Continuing Approval',
                                         'Continuing Denials':'Continuing Denial'})
    data_year_list.append(data_year)

C:\Users\jbrob\AppData\Local\Temp\ipykernel_18136\3123072866.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data_year = pd.read_csv(url_temp)

## Concat into single dataframe (df)

In [3]:
df = pd.concat(data_year_list, ignore_index=True)
df

,Fiscal Year,Employer,Initial Approval,Initial Denial,Continuing Approval,Continuing Denial,NAICS,Tax ID,State,City,ZIP
0,2009,SAGINAW VLY ST UNIV,1,0,0,0,61,NaN,NaN,UNIVERSITY CENTER,NaN
1,2009,REGIONAL MED CTR BOARD,0,0,1,0,62,NaN,AL,ANNISTON,36202.0
2,2009,BIBB MED CTR BIBB COUNTY HEALTH CA,1,0,0,0,62,NaN,AL,CENTREVILLE,35042.0
3,2009,EMERGENCY MEDICAL SERVICES GROUP,0,0,1,0,62,NaN,AR,FORT SMITH,72917.0
4,2009,THE NEW FOUNDATION,0,1,0,0,61,NaN,AZ,SCOTTSDALE,85271.0
...,...,...,...,...,...,...,...,...,...,...,...
798707,2022,ZYTUS INC,2,0,1,0,54,96.0,VA,HENRICO,23238.0
798708,2022,ZYTUS INC,1,0,0,0,54,96.0,VA,RICHMOND,23238.0
798709,2022,ZYWAVE INC,1,0,1,0,54,743.0,WI,MILWAUKEE,53226.0
798710,2022,ZYWIE INC,0,0,2,0,54,9321.0,GA,DULUTH,30097.0
798711,2022,ZZ VENTURES INC,0,0,1,0,52,8809.0,CA,SAN FRANCISCO,94111.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 798712 entries, 0 to 798711
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Fiscal Year          798712 non-null  int64
 1   Employer             798533 non-null  object
 2   Initial Approval     798712 non-null  object
 3   Initial Denial       798712 non-null  object
 4   Continuing Approval  798712 non-null  object
 5   Continuing Denial    798712 non-null  object
 6   NAICS                798712 non-null  int64
 7   Tax ID               796362 non-null  float64
 8   State                798533 non-null  object
 9   City                 798679 non-null  object
 10  ZIP                  798542 non-null  float64
dtypes: float64(2), int64(2), object(7)
memory usage: 67.0+ MB

## Clean df

### Remove commas from numeric values

In [5]:
cols = ['Initial Approval', 'Initial Denial', 'Continuing Approval', 'Continuing Denial']
df[cols]=df[cols].replace(',','', regex=True)

### Convert data types

In [6]:
df=df.astype({'Fiscal Year':'int32',
              'Initial Approval':'int32',
              'Initial Denial':'int32',
              'Continuing Approval':'int32',
              'Continuing Denial':'int32',
              'NAICS':'str'})
#              'Employer':'str',
#              'Tax ID':'str',
#              'ZIP':'str'})  

df['Tax ID'] = pd.to_numeric(df['Tax ID'], errors='coerce').fillna(0).astype(int).astype(str)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 798712 entries, 0 to 798711
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Fiscal Year          798712 non-null  int32
 1   Employer             798533 non-null  object
 2   Initial Approval     798712 non-null  int32
 3   Initial Denial       798712 non-null  int32
 4   Continuing Approval  798712 non-null  int32
 5   Continuing Denial    798712 non-null  int32
 6   NAICS                798712 non-null  object
 7   Tax ID               798712 non-null  object
 8   State                798533 non-null  object
 9   City                 798679 non-null  object
 10  ZIP                  798542 non-null  float64
dtypes: float64(1), int32(5), object(5)
memory usage: 51.8+ MB

In [7]:
df.head()

,Fiscal Year,Employer,Initial Approval,Initial Denial,Continuing Approval,Continuing Denial,NAICS,Tax ID,State,City,ZIP
0,2009,SAGINAW VLY ST UNIV,1,0,0,0,61,0,NaN,UNIVERSITY CENTER,NaN
1,2009,REGIONAL MED CTR BOARD,0,0,1,0,62,0,AL,ANNISTON,36202.0
2,2009,BIBB MED CTR BIBB COUNTY HEALTH CA,1,0,0,0,62,0,AL,CENTREVILLE,35042.0
3,2009,EMERGENCY MEDICAL SERVICES GROUP,0,0,1,0,62,0,AR,FORT SMITH,72917.0
4,2009,THE NEW FOUNDATION,0,1,0,0,61,0,AZ,SCOTTSDALE,85271.0

In [8]:
df.describe()

,Fiscal Year,Initial Approval,Initial Denial,Continuing Approval,Continuing Denial,ZIP
count,798712.000000,798712.000000,798712.000000,798712.000000,798712.000000,798542.000000
mean,2015.424184,2.049902,0.232902,3.834375,0.210122,48310.913588
std,4.146026,35.685758,6.216485,75.887587,8.966981,33686.519692
min,2009.000000,0.000000,0.000000,0.000000,0.000000,604.000000
25%,2012.000000,0.000000,0.000000,0.000000,0.000000,13204.000000
50%,2015.000000,1.000000,0.000000,1.000000,0.000000,45140.000000
75%,2019.000000,1.000000,0.000000,1.000000,0.000000,80401.000000
max,2022.000000,9191.000000,3070.000000,26145.000000,3910.000000,99929.000000

In [9]:
df

,Fiscal Year,Employer,Initial Approval,Initial Denial,Continuing Approval,Continuing Denial,NAICS,Tax ID,State,City,ZIP
0,2009,SAGINAW VLY ST UNIV,1,0,0,0,61,0,NaN,UNIVERSITY CENTER,NaN
1,2009,REGIONAL MED CTR BOARD,0,0,1,0,62,0,AL,ANNISTON,36202.0
2,2009,BIBB MED CTR BIBB COUNTY HEALTH CA,1,0,0,0,62,0,AL,CENTREVILLE,35042.0
3,2009,EMERGENCY MEDICAL SERVICES GROUP,0,0,1,0,62,0,AR,FORT SMITH,72917.0
4,2009,THE NEW FOUNDATION,0,1,0,0,61,0,AZ,SCOTTSDALE,85271.0
...,...,...,...,...,...,...,...,...,...,...,...
798707,2022,ZYTUS INC,2,0,1,0,54,96,VA,HENRICO,23238.0
798708,2022,ZYTUS INC,1,0,0,0,54,96,VA,RICHMOND,23238.0
798709,2022,ZYWAVE INC,1,0,1,0,54,743,WI,MILWAUKEE,53226.0
798710,2022,ZYWIE INC,0,0,2,0,54,9321,GA,DULUTH,30097.0
798711,2022,ZZ VENTURES INC,0,0,1,0,52,8809,CA,SAN FRANCISCO,94111.0

In [10]:
df.isna().sum()

Fiscal Year              0
Employer               179
Initial Approval         0
Initial Denial           0
Continuing Approval      0
Continuing Denial        0
NAICS                    0
Tax ID                   0
State                  179
City                    33
ZIP                    170
dtype: int64

Electing not to clean State na's, because only 40 fixable State values, with max Approvals = 14

In [11]:
#df[(pd.isna(df['State'])) & pd.notna(df['ZIP'])]#.info()

## Replace df.Employer values to consolidate employers with multiple company names

In [12]:
# Facebook changes company name to Meta
# https://www.cnbc.com/2021/10/28/facebook-changes-company-name-to-meta.html

dict_emp = {'FACEBOOK INC':'META PLATFORMS INC'
                , 'AMAZON CORPORATE LLC':'AMAZON COM SERVICES LLC'
                , 'AMAZON WEB SERVICES INC':'AMAZON COM SERVICES LLC'
                , 'AMAZON.COM SERVICES LLC':'AMAZON COM SERVICES LLC'
                , 'AMAZON.COM SERVICES INC':'AMAZON COM SERVICES LLC'
                , 'AMAZON FULFILLMENT SERVICES INC':'AMAZON COM SERVICES LLC'
           }

df.Employer = df.Employer.replace(dict_emp)

In [13]:
df

,Fiscal Year,Employer,Initial Approval,Initial Denial,Continuing Approval,Continuing Denial,NAICS,Tax ID,State,City,ZIP
0,2009,SAGINAW VLY ST UNIV,1,0,0,0,61,0,NaN,UNIVERSITY CENTER,NaN
1,2009,REGIONAL MED CTR BOARD,0,0,1,0,62,0,AL,ANNISTON,36202.0
2,2009,BIBB MED CTR BIBB COUNTY HEALTH CA,1,0,0,0,62,0,AL,CENTREVILLE,35042.0
3,2009,EMERGENCY MEDICAL SERVICES GROUP,0,0,1,0,62,0,AR,FORT SMITH,72917.0
4,2009,THE NEW FOUNDATION,0,1,0,0,61,0,AZ,SCOTTSDALE,85271.0
...,...,...,...,...,...,...,...,...,...,...,...
798707,2022,ZYTUS INC,2,0,1,0,54,96,VA,HENRICO,23238.0
798708,2022,ZYTUS INC,1,0,0,0,54,96,VA,RICHMOND,23238.0
798709,2022,ZYWAVE INC,1,0,1,0,54,743,WI,MILWAUKEE,53226.0
798710,2022,ZYWIE INC,0,0,2,0,54,9321,GA,DULUTH,30097.0
798711,2022,ZZ VENTURES INC,0,0,1,0,52,8809,CA,SAN FRANCISCO,94111.0

## Import NAICS table

"NAICS code 99 means the industry is unknown. 
Any petition that had a blank code was assigned as 99 as well." (ref. README.md)

In [14]:

#NAICS codes: https://www.census.gov/naics/?58967?yearbck=2022

url = "https://www.census.gov/programs-surveys/economic-census/guidance/understanding-naics.html"

df_naics = pd.read_html(url, header=0)[1]


#df_naics = df_naics.append({'Sector':'99','Description':'unknown'}, ignore_index=True)

df_temp = pd.DataFrame(data={'Sector':['99'],'Description':['unknown']})

df_naics = pd.concat([df_naics, df_temp])

df_naics

   Sector                                        Description
0      11         Agriculture, Forestry, Fishing and Hunting
1      21      Mining, Quarrying, and Oil and Gas Extraction
2      22                                          Utilities
3      23                                       Construction
4   31-33                                      Manufacturing
5      42                                    Wholesale Trade
6   44-45                                       Retail Trade
7   48-49                     Transportation and Warehousing
8      51                                        Information
9      52                              Finance and Insurance
10     53                 Real Estate and Rental and Leasing
11     54   Professional, Scientific, and Technical Services
12     55            Management of Companies and Enterprises
13     56  Administrative and Support and Waste Managemen...
14     61                               Educational Services
15     62                  Health Care and Social Assistance
16     71                Arts, Entertainment, and Recreation
17     72                    Accommodation and Food Services
18     81      Other Services (except Public Administration)
19     92  Public Administration (not covered in economic...
0      99                                            unknown

In [15]:
df_naics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 0
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sector       21 non-null     object
 1   Description  21 non-null     object
dtypes: object(2)
memory usage: 504.0+ bytes

In [16]:
df.NAICS.sort_values().unique()

array(['11', '21', '22', '23', '31', '32', '33', '42', '44', '45', '48',
       '49', '51', '52', '53', '54', '55', '56', '61', '62', '71', '72',
       '81', '92', '99'], dtype=object)

## Continuing Approvals by NAICS code

In [17]:
df[['NAICS','Continuing Approval']].groupby('NAICS').sum()\
.sort_values(by='NAICS', ascending=True)

       Continuing Approval
NAICS
11                    2051
21                    9629
22                    8708
23                   10822
31                   15407
32                   42920
33                  262037
42                   28630
44                   31483
45                   86840
48                   12392
49                    2311
51                  211131
52                  223097
53                    8881
54                 1700155
55                   22473
56                   27087
61                  183884
62                  123588
71                    4375
72                    9008
81                    9217
92                    4994
99                   21441

## Replace df.NAICS values to match NAICS table

In [18]:
dict_naics = {'31':'31-33', '32':'31-33', '33':'31-33'
                , '44':'44-45', '45':'44-45'
                , '48':'48-49', '49':'48-49'}

df.NAICS=df.NAICS.replace(dict_naics)

In [19]:
df.NAICS.sort_values().unique()

array(['11', '21', '22', '23', '31-33', '42', '44-45', '48-49', '51',
       '52', '53', '54', '55', '56', '61', '62', '71', '72', '81', '92',
       '99'], dtype=object)

## Continuing Approvals by NAICS code

In [20]:
df[['NAICS','Continuing Approval']].groupby('NAICS').sum()\
.sort_values(by='NAICS', ascending=True)

       Continuing Approval
NAICS
11                    2051
21                    9629
22                    8708
23                   10822
31-33               320364
42                   28630
44-45               118323
48-49                14703
51                  211131
52                  223097
53                    8881
54                 1700155
55                   22473
56                   27087
61                  183884
62                  123588
71                    4375
72                    9008
81                    9217
92                    4994
99                   21441

## MERGE NAICS Description to df

In [21]:
df = pd.merge(df, df_naics, how='left', left_on='NAICS', right_on='Sector', suffixes=(False, False))
df

,Fiscal Year,Employer,Initial Approval,Initial Denial,Continuing Approval,Continuing Denial,NAICS,Tax ID,State,City,ZIP,Sector,Description
0,2009,SAGINAW VLY ST UNIV,1,0,0,0,61,0,NaN,UNIVERSITY CENTER,NaN,61,Educational Services
1,2009,REGIONAL MED CTR BOARD,0,0,1,0,62,0,AL,ANNISTON,36202.0,62,Health Care and Social Assistance
2,2009,BIBB MED CTR BIBB COUNTY HEALTH CA,1,0,0,0,62,0,AL,CENTREVILLE,35042.0,62,Health Care and Social Assistance
3,2009,EMERGENCY MEDICAL SERVICES GROUP,0,0,1,0,62,0,AR,FORT SMITH,72917.0,62,Health Care and Social Assistance
4,2009,THE NEW FOUNDATION,0,1,0,0,61,0,AZ,SCOTTSDALE,85271.0,61,Educational Services
...,...,...,...,...,...,...,...,...,...,...,...,...,...
798707,2022,ZYTUS INC,2,0,1,0,54,96,VA,HENRICO,23238.0,54,"Professional, Scientific, and Technical Services"
798708,2022,ZYTUS INC,1,0,0,0,54,96,VA,RICHMOND,23238.0,54,"Professional, Scientific, and Technical Services"
798709,2022,ZYWAVE INC,1,0,1,0,54,743,WI,MILWAUKEE,53226.0,54,"Professional, Scientific, and Technical Services"
798710,2022,ZYWIE INC,0,0,2,0,54,9321,GA,DULUTH,30097.0,54,"Professional, Scientific, and Technical Services"
798711,2022,ZZ VENTURES INC,0,0,1,0,52,8809,CA,SAN FRANCISCO,94111.0,52,Finance and Insurance

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 798712 entries, 0 to 798711
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Fiscal Year          798712 non-null  int32
 1   Employer             798533 non-null  object
 2   Initial Approval     798712 non-null  int32
 3   Initial Denial       798712 non-null  int32
 4   Continuing Approval  798712 non-null  int32
 5   Continuing Denial    798712 non-null  int32
 6   NAICS                798712 non-null  object
 7   Tax ID               798712 non-null  object
 8   State                798533 non-null  object
 9   City                 798679 non-null  object
 10  ZIP                  798542 non-null  float64
 11  Sector               798712 non-null  object
 12  Description          798712 non-null  object
dtypes: float64(1), int32(5), object(7)
memory usage: 70.1+ MB

In [23]:
df.isna().sum()

Fiscal Year              0
Employer               179
Initial Approval         0
Initial Denial           0
Continuing Approval      0
Continuing Denial        0
NAICS                    0
Tax ID                   0
State                  179
City                    33
ZIP                    170
Sector                   0
Description              0
dtype: int64

## Melt four Decision measures into single Petition measure column with Descision dimension column  
_Commented out because resulting compressed CSV is too large for Github's 50MB file size limit_

In [24]:
#df = pd.melt(df, id_vars=['Fiscal Year', 'Employer', 'NAICS', 'Tax ID', 'State', 'City', 'ZIP', 'Sector', 'Description'],
#       value_vars=['Initial Approval', 'Initial Denial', 'Continuing Approval', 'Continuing Denial', ],
#       var_name='Decision', value_name='Petitions')

In [25]:
df

,Fiscal Year,Employer,Initial Approval,Initial Denial,Continuing Approval,Continuing Denial,NAICS,Tax ID,State,City,ZIP,Sector,Description
0,2009,SAGINAW VLY ST UNIV,1,0,0,0,61,0,NaN,UNIVERSITY CENTER,NaN,61,Educational Services
1,2009,REGIONAL MED CTR BOARD,0,0,1,0,62,0,AL,ANNISTON,36202.0,62,Health Care and Social Assistance
2,2009,BIBB MED CTR BIBB COUNTY HEALTH CA,1,0,0,0,62,0,AL,CENTREVILLE,35042.0,62,Health Care and Social Assistance
3,2009,EMERGENCY MEDICAL SERVICES GROUP,0,0,1,0,62,0,AR,FORT SMITH,72917.0,62,Health Care and Social Assistance
4,2009,THE NEW FOUNDATION,0,1,0,0,61,0,AZ,SCOTTSDALE,85271.0,61,Educational Services
...,...,...,...,...,...,...,...,...,...,...,...,...,...
798707,2022,ZYTUS INC,2,0,1,0,54,96,VA,HENRICO,23238.0,54,"Professional, Scientific, and Technical Services"
798708,2022,ZYTUS INC,1,0,0,0,54,96,VA,RICHMOND,23238.0,54,"Professional, Scientific, and Technical Services"
798709,2022,ZYWAVE INC,1,0,1,0,54,743,WI,MILWAUKEE,53226.0,54,"Professional, Scientific, and Technical Services"
798710,2022,ZYWIE INC,0,0,2,0,54,9321,GA,DULUTH,30097.0,54,"Professional, Scientific, and Technical Services"
798711,2022,ZZ VENTURES INC,0,0,1,0,52,8809,CA,SAN FRANCISCO,94111.0,52,Finance and Insurance

## Export df to compressed .csv

In [26]:
compression_opts = dict(method='zip', archive_name='h1b_hub.csv')  

df.to_csv('h1b_hub_data.zip', index=False, compression=compression_opts)